    
    <footer class="mainFooter">
        <div class="container">
            <div class="mainFooter__links">
                <div class="row">
                    <div class="col-lg-2 col-md-6">
                        <h5 class="size18 normal">Informations</h5>
                        <ul class="navs">
                            <li><a href="#!">Delivery and payment</a></li>
                            <li><a href="#!">Privacy policy</a></li>
                            <li><a href="#!">Regulations</a></li>
                            <li><a href="#!">Returns and complaints</a></li>
                        </ul>
                    </div>
                    <div class="col-lg-2 col-md-6">
                        <h5 class="size18 normal">Your account</h5>
                        <ul class="navs">
                            <li><a href="#!">My orders</a></li>
                            <li><a href="#!">My addresses</a></li>
                            <li><a href="#!">Favorites</a></li>
                        </ul>
                    </div>
                    <div class="col-lg-3 col-md-6 margin-top-md-30">
                        <h5 class="size18 normal">Contact</h5>
                        <ul class="navs">
                            <li><a href="#!">Contact</a></li>
                            <li><a href="#!">Help Desk</a></li>
                            <li><a href="#!">FAQ</a></li>
                        </ul>
                    </div>
                    <div class="col-lg-5 col-md-6 margin-top-md-30">
                        <div class="mainFooter__subscribe">
                            <div class="row">
                                <div class="col-lg-9">
                                    <h5 class="size18 normal">Newsletter</h5>
                                    <p class="margin-bottom-10">Subscribe to the free newsletter and receive notifications about new products and current promotions</p>
                                </div>
                            </div>
                            <form class="subscribeForm">
                                <input type="text" name="" id="" class="form-control" placeholder="Your email address">
                                <button class="btn-custom-style">Subscribe</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div> <!--// .mainFooter__links::END \\-->

            <div class="mainFooter__copyrights">
                <div class="row">
                    <div class="col-lg-7 col-md-6">
                        <p class="margin-bottom-10">Copyright © 2019 by BelloJewels. All Rights Reserved.</p>
                        <p class="margin-bottom-0">Website by <a href="#!">Seahawk</a></p>
                    </div>
                    <div class="col-lg-5 col-md-6">
                        <div class="mainFooter__socials">
                            <a href="#!"><i class="fab fa-facebook-f"></i></a>
                            <a href="#!"><i class="fab fa-twitter"></i></a>
                            <a href="#!"><i class="fab fa-instagram"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer> <!-- // .mainFooter::END \\ -->