    
    <header class="mainHeader" id="mainHeader">
        <div class="container">
            <div class="mainHeader__top">
                <div class="mainHeader__logo">
                    <a href="#!"><img src="img/logo.png" alt="A Salon"></a>
                </div>

                <div class="mainHeader__mainMenu">
                    <div class="menuHandle" id="showMenu"><img src="img/svg/menu.svg" alt="menu"></div>
                    <ul id="mainMenu">
                        <li><a href="#!">About</a></li>
                        <li>
                            <a href="#!" class="dropdown-handle">Members <i class="fas fa-caret-down"></i></a>
                            <ul class="dropdown-custom">
                                <li><a href="#!">Submenu</a></li>
                                <li><a href="#!">Submenu</a></li>
                                <li><a href="#!">Submenu</a></li>
                            </ul>
                        </li>
                        <li><a href="#!">Services</a></li>
                        <li><a href="#!">Locations</a></li>
                        <li><a href="#!">Contact us</a></li>
                    </ul>
                </div>

                <div class="mainHeader__bookApoint">
                    <a href="#!" class="btn btn-primary">Book appointment</a>
                </div>
            </div>
        </div>
    </header> <!--// .mainHeader::END \\-->